<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/">Signup</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/crudjs">CRUD</a>
        </li>
      </ul>
    </div>

    <div class="ml-auto">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/faday1">FA1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/faday2">FA2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/faday3">FA3</a>
          </li>
        </ul>
      </div>
  </div>
</nav>
